{{ define "main" }}
  <div class="single-page">
    <h1 class="home-title">Hi! I'm Jeffrey.</h1>
    {{ .Content }}
    <h2 class="title">Featured projects</h2>
    {{ range (where (where .Site.RegularPages "Type" "projects") "Params.featured" true) }}
    	<a href="{{ .Permalink }}" class="card card--clickable card-list__card">
			<div class="card__body">
				<div class="card__title">{{ .Title }}</div>
				<p class="card__description">{{ .Description }}</p>
			</div>
		</a>
    {{ end }}
    <h2 class="title">Other projects</h2>
    {{ range (where (where .Site.RegularPages "Type" "projects") "Params.featured" false) }}
    	<a href="{{ .Permalink }}" class="card card--clickable card-list__card">
			<div class="card__body">
				<div class="card__title">{{ .Title }}</div>
				<p class="card__description">{{ .Description }}</p>
			</div>
		</a>
    {{ end }}
  </div>
{{ end }}
{{ define "meta" }}
<meta name="description" content="Hi! I'm Suhao Jeffrey Huang. I like computer science and often work on technology projects.">
{{ end }}