@import url('https://fonts.googleapis.com/css?family=Roboto');

.site {
	font-family: 'Roboto', sans-serif;
}

.navigation {
	font-size: 1rem;
	display: flex;
	align-items: center;
	background-color: #EEE;
	padding: 0 1rem;
}
.navigation__title {
	font-weight: bold;
}
.navigation__link {
	text-decoration: none;
	color: black;
	padding: 0.5rem 0.5rem;
	display: inline-block;
	transition: padding 0.3s;
}
.navigation__link:hover {
	padding: 0.5rem 0.75rem;
	font-weight: bold;
}

.site-body {
	padding: 0.5rem 1rem;
}

.subtitle {
	font-weight: bold;
}

.metadata {
	outline: 1px solid black;
	padding: 1rem;
}

.button {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	background-color: #EEE;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	margin: 1rem 0;
}
.button--primary {
	background-color: orange;
}

.metadata__entry {
	background-color: #EEE;
	padding: 0.5rem;
	margin: 0.5rem 1rem;
	display: inline-block;
}
.metadata__entry-key {
	font-weight: bold;
}